/* GLOBAL TYPOGRAPHY */
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  font-size: 1.25em;
}

#employeeForm input {

  padding: .2em;
  width: 100px;
  height: 10px;
  background: #FCFCFC;
  border: 1px solid;

}
header {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  height: 5pxx;
}
table {
  width: 100%;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 3em;
}
thead {
  background: #7a7a7a;
  color: bisque;
}
tbody tr:nth-child(odd){ 
  background: #fcfcfc;
}
tbody tr:nth-child(even){
  background: #dcdcdc;
}

#totalMonthlyCost {
  font-weight: bold;
}
.red-background {
  background-color: #ffebee;
  color: #c62828;
  font-weight: bold;
}
button {
  padding: 5px 10px;
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
